body {
    font-family: Arial, Ubuntu;
}
table {
    border-collapse: collapse;
}
tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
    padding: 0.2em 1em;
}
td {
    padding: 0.2em 1em;
    text-align: right;
}
